.gitsecret/keys/random_seed
!*.secret
dotfiles/protected/ssh/id1_github_ed25519
dotfiles/protected/ssh/id_github_ed25519
dotfiles/protected/ssh/id_git.peteler.family_ed25519
dotfiles/protected/nomachine/id_nomachine_rsa
dotfiles/protected/ssh/id_peteler.family_ed25519
dotfiles/protected/nomachine/Arbeitszimmer_Port_4001.nxs
dotfiles/protected/nomachine/Mum_Port_4002.nxs
*.AppImage
dotfiles/protected/killswitch_random_keyfile
